<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="">Chupos App</a>
</nav>

<div class="container">
    <main role="main" class="container">
        <div class="jumbotron">
            <h1>Generar apuesta</h1>
            <form [formGroup]="apuestaForm" (ngSubmit)="onSubmit()"
                oninput='up2.setCustomValidity(up2.value != up.value ? "Passwords do not match." : "")'>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="actor1">Persona 1*</label>
                        <input type="text" class="form-control" formControlName="actor1" id="actor1"
                            placeholder="Nombre persona 1" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="ganaActor1">Persona 1 gana: </label>
                        <input type="text" class="form-control" formControlName="ganaActor1" id="ganaActor1"
                            placeholder="Persona 1 gana">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="actor2">Persona 2*</label>
                        <input type="text" class="form-control" formControlName="actor2" id="actor2"
                            placeholder="Nombre persona 2" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="ganaActor2">Persona 2 gana: </label>
                        <input type="text" class="form-control" formControlName="ganaActor2" id="ganaActor2"
                            placeholder="Persona 2 gana">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                </div>
                <label for="descripción">Descripción* </label>
                <textarea class="form-control" formControlName="descripcion" id="descripción"
                    placeholder="Descripción de la apuesta" required></textarea>
                <br>
                <div class="form-row">
                    <div class="col-md-4">
                        <label>Fecha final*</label>
                        <input type="date" name="bday" max="3000-12-31" min="2019-01-01" class="form-control"
                            formControlName="fechaFin">
                    </div>
                </div>
                <br>
                <div class="form-row">
                    <div class="col-md-4">
                        <label for="pass">Contraseña para cerrar o borrar*</label>
                        <input type="password" class="form-control" formControlName="pass" id="pass"
                            placeholder="Password" name="up" required>
                    </div>
                    <div class="col-md-4">
                        <label for="pass2">Confirmar contraseña* </label>
                        <input type="password" class="form-control" formControlName="pass2" id="pass2"
                            placeholder="Password" name="up2" required>
                    </div>
                </div>
                <br>

                <div *ngIf="!esValido()" class="alert alert-danger">

                    Tienes que rellenar los campos con el asterisco.

                </div>
                <div *ngIf="esValido() && !contrasenasIguales()" class="alert alert-danger">

                    La pass no es la misma.

                </div>

                <button class="btn btn-primary" [disabled]="!esValido() || !contrasenasIguales()" type="submit">Crear</button>
            </form>


        </div>
    </main>


    <h1>Apuestas abiertas</h1>
    <div class="table-responsive">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Participante 1</th>
                    <th scope="col">Participante 2</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Fecha fin</th>
                    <th scope="col">Cerrar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ap of apuestasAbiertas; let i=index">
                    <td>{{ap.actor1}}</td>
                    <td>{{ap.actor2}}</td>
                    <td>{{ap.descripcion}}</td>
                    <td>{{ap.fechaFin | date:fullDate}}</td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cerrar
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                <input type="password" [(ngModel)]="ap.passCerrar" placeholder="Password">
                                <div class="dropdown-divider"></div>
                                <input type="text" placeholder="Ganador" [(ngModel)]="ap.ganadaPor">
                                <div class="dropdown-divider"></div>
                                <button class="btn btn-danger" type="button" (click)="cerrar(i)"
                                    id="buttonCerrar">Cerrar</button>

                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>






    <h1>Apuestas cerradas</h1>
    <div class="table-responsive">
        <table class="table ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Participante 1</th>
                    <th scope="col">Participante 2</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Ganador</th>
                    <th scope="col">Fecha fin</th>
                    <th scope="col">Pagado?</th>
                    <th scope="col">Contraseña para pagar</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ap of apuestasCerradas; let u=index">
                    <td>{{ap.actor1}}</td>
                    <td>{{ap.actor2}}</td>
                    <td>{{ap.descripcion}}</td>
                    <td>{{ap.ganadoPor}}</td>
                    <td>{{ap.fechaFin | date:fullDate}}</td>
                    <td><button [disabled]="ap.pagada" (click)="pagar(u)" class="btn btn-success">Pagar</button></td>
                    <td>
                        <div *ngIf="!ap.pagada; else pagadito">
                            <input type="password" [(ngModel)]="ap.passPagar" class="form-control" id="passPagar"
                                placeholder="Password">
                        </div>
                        <ng-template #pagadito>
                            Pagaditaaaa
                        </ng-template>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>